*
{
  /*border:0;
  margin: 0;
  padding: 0;*/
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  text-decoration: inherit;
  color: inherit;
  /*background-color: transparent;
  box-sizing: border-box;*/
}

body{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 30px;
  /*color: lightgray;*/
  color: white;
  /*background-color: red;*/
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('images/bern.png');
  /*background-height: 100%;*/
  background-size: cover;
  /*text-align: center;*/

}
